/* --------radial progress style for skills----- */

.radial-html {
    --value: 90;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-css {
    --value: 80;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-tailwindcss {
    --value: 90;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-bootstrap {
    --value: 90;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-js {
    --value: 80;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-react {
    --value: 90;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-next {
    --value: 70;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-express {
    --value: 85;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-node {
    --value: 85;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-mongodb {
    --value: 85;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-rn {
    --value: 95;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-ts {
    --value: 75;
    --size: 9rem;
    --thickness: 0.7rem;
}

.radial-redux {
    --value: 80;
    --size: 9rem;
    --thickness: 0.7rem;
}
.radial-firebase {
    --value: 50;
    --size: 9rem;
    --thickness: 0.7rem;
}
.radial-awsAmplify {
    --value: 50;
    --size: 9rem;
    --thickness: 0.7rem;
}