.App {
    text-align: center;
}

#tsparticles {
    height: 100vh;
}

.navbar-background-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}