@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    @font-face {
        font-family: "calibre";
        src: local("calibre"), url("../src/calibre/CalibreBold.otf") format("truetype");
        font-weight: bold;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}